/* Write the CSS for you answer here */

#background {
    position: absolute;
    width: 541px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#landscape {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:-1;
}
#pohutukawa {
    position: absolute;
    left: 0px;
    top: 141px;
    z-index:1;
}
#blue {
    position: absolute;
    left: 50%;
    top: 40%;
    z-index:1
}
#darkblue{
    position: absolute;
    left: 30%;
    top: 30%;
    z-index:1
}
#green{
    position: absolute;
    left: 55%;
    top: 51%;
    z-index:1
}
#orange{
    position: absolute;
    left: 10%;
    top: 50%;
    z-index:1
}
#pink {
    position: absolute;
    left: 37%;
    top: 60%;
    z-index: 0;
}
#red {
    position: absolute;
    left: 27%;
    top: 57%;
    z-index:1;
}

.bauble:hover {
    transform: scale(1.1);
    animation-duration: 5s;
    animation-name: bounce-baubles;
    animation-iteration-count: 1;
}
/*
.bauble {
    animation-duration: 5s;
    animation-name: bounce-baubles;
    animation-iteration-count: 1;
}*/
@keyframes bounce-baubles {
    from {
    } 60% {
              top: 450px;
    } 70% {
              top: 400px;
    } 80% {
              top: 450px;
    } 90% {
              top: 400px;
    } to {
              top: 450px;
    }
}