/* Write the CSS for you answer here */

#background {
    position: relative;
     left: 30%;
    top: 10%;
    margin: 8%;
    z-index: -1;
}
#landscape {
    position: relative;
    left: 0%;
    top: 0%;
    z-index:-1;
}
#pohutukawa {
    position: absolute;
    left: 0%;
    top: 21%;
    z-index:1
}
#blue {
    position: absolute;
    left: 50%;
    top: 40%;
    z-index:1
}
#darkblue{
    position: absolute;
    left: 30%;
    top: 30%;
    z-index:1
}
#green{
    position: absolute;
    left: 55%;
    top: 51%;
    z-index:1
}
#orange{
    position: absolute;
    left: 10%;
    top: 50%;
    z-index:1
}
#pink {
    position: absolute;
    left: 37%;
    top: 60%;
    z-index: 0;
}
#red {
    position: absolute;
    left: 27%;
    top: 57%;
    z-index:1
}